<!-- VALIDATO -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Accedi - EazyJobs</title>
    <meta name="keywords" content="EazyJobs, accedi, ruolo, aziende, candidati, registrati">
    <meta name="description" content="Accedi alla tua area personale in EazyJobs">
    <link rel="stylesheet" href="./style/stylesheet.css">
    <link rel="stylesheet" href="./style/style_mini.css" media="screen and (max-width:768px)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body onload="showHideNav()">
    <a class="nascosto" href="#primoContenuto">Vai al contenuto</a>
    <header>
        <div class="header-logo">
            <h1><span lang="en">EazyJobs</span></h1>
        </div>
        <div class="header-burger">
            <button class="hamburger" type="button" onclick="showHideNav();" aria-label="Apri il menu di navigazione" aria-expanded="true" aria-haspopup="menu">
                <span class="burger close">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
    </header>
    <div id="navigazione">
        <nav id="menu" aria-label="Menu principale">
            <ul>
                <li lang="en"><a href="Home.php">Home</a></li>
                <li><a href="Annunci.php">Annunci</a></li>
                <li>Accedi</li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb" aria-label="Navigazione breadcrumb">
            <p>Ti trovi in: <a href="Home.php" lang="en">Home</a> &gt;&gt; Accedi</p>
        </nav>
    </div>

    <main id="accedi-main">
        <div id="primoContenuto">
            <form action="./api/login.php" method="post" id="login-form">
                <label for="ruolo">Seleziona il tuo ruolo:</label>
                <select id="ruolo" name="ruolo">
                    <option value="candidati">Candidati</option>
                    <option value="aziende">Aziende</option>
                </select>

                <div id="credenziali">
                    <label for="email"><span lang="en">Email:</span></label>
                    <input type="email" id="email" name="email" placeholder="La tua email"required>
                    <div id="email-errore" class="messaggio-errore">email-errore-placeholder</div>

                    <label for="password"><span lang="en">Password:</span></label>
                    <input type="password" id="password" name="password" placeholder="La tua password" required>
                    <div id="password-errore" class="messaggio-errore">password-errore-placeholder</div>
                </div>

                <input type="submit" id="accedi-bottone" data-validation="validateFields" value="Accedi">
                <div class="messaggio-errore" aria-live="assertive">credenziali-errore-placeholder</div>

                <p>Non hai un account?</p>
                <p>Registrati da <a href="RegistraUser.php" aria-label="Registrati da candidato">candidato</a> o da <a href="RegistraAdmin.php" aria-label="Registrati da azienda">azienda</a>.</p>
            </form>
        </div>
    </main>
    
    <footer>
        <nav id="footer" aria-label="Piè di pagina">
            <ul>
                <li>
                    <ul id="contattaci">
                        <li>Contattaci:</li>
                        <li>
                            <ul id="contatti">
                                <li><abbr title="telefono">Tel: </abbr><a href="tel:+390435673238">0435 673238</a></li>
                                <li><span lang="en">Email: </span><a href="mailto:info@eazyjobs.com">info@eazyjobs.com</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <p lang="en">&copy; 2024 EazyJobs - All rights reserved.</p>
    </footer>
    <script src="./src/script.js"></script>
</body>
</html>
