<!-- VALIDATO -->
<!-- html ok -->
<!-- button ok -->
<!-- form ok -->
<!-- img ok -->
<!-- tabindex ok -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>EazyJobs: Area Personale</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body onload="showHideNav()">
    <header>
        <div class="header-actions">
            <a href="Accedi.php">Accedi</a>
        </div>
        <div class="header-logo">
            <h1>EazyJobs</h1>
        </div>
        <div class="header-burger">
            <button class="hamburger" type="button" onclick="showHideNav();" aria-label="Apri il menu di navigazione" aria-expanded="true" aria-haspopup="menu">
                <span class="burger close">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </span>
            </button>
        </div>
    </header>
    <div id="navigazione">
        <nav id="menu">
            <ul>
                <li lang="en"><a href="Home.php">Home</a></li>
                <li><a href="Annunci.php">Annunci</a></li>
                <li><a href="http://localhost/TW/EazyJobs/api/logout.php">Esci</a></li>
                <li><a href="Contattaci.html">Contattaci</a></li>
                <li><a href="Chi_siamo.html">Chi siamo</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb">
            <p>Ti trovi nella tua Area Personale</p>
        </nav>
    </div>

    <main id="admin-main">
        <h2>Bentornato, <strong>nome-placeholder</strong></h2>
        <img id="foto-profilo" src="image-placeholder" alt="Il tuo logo aziendale">
        <dl id="dati-admin">
            <!-- azienda-placeholder -->
        </dl>

        <div id="admin-links">
            <a href="http://localhost/TW/EazyJobs/ModificaAdmin.php" id="modifica-admin">Modifica i tuoi dati</a>
            <a href="http://localhost/TW/EazyJobs/PubblicaAnnuncio.php" id="pubblica-annuncio">Pubblica un annuncio</a>
</div>

        <h3>Annunci pubblicati</h3>
        <ul class="annunci" id="admin-listaAnnunci">
            <!-- annunci-placeholder -->
        </ul>

        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <p>Sei sicuro di voler eliminare questo annuncio?</p>
                <button id="confirmButton">Conferma</button>
                <button id="cancelButton">Annulla</button>
            </div>
        </div>

        <h3>Recensioni ricevute</h3>
        <ul id="admin-recensioni">
            <!-- recensioni-placeholder -->
        </ul>
    </main>
    
    <footer>
        <nav id="footer">
            <ul>
                <li><a href="Contattaci.html">Contattaci</a></li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <p lang="en">&copy; 2024 EazyJobs - All rights reserved.</p>
    </footer>
    <script src="./src/script.js"></script>
</body>
