<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>EazyJobs: Area Personale</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>EazyJobs</h1>
    </header>
    <div id="navigazione">
        <nav id="menu">
            <ul>
                <li lang="en"><a href="Home.php">Home</a></li>
                <li><a href="Annunci.php">Annunci</a></li>
                <li><a href="http://localhost/TW/EazyJobs/api/logout.php">Esci</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb">
            <p>Ti trovi nella tua Area Personale</p>
        </nav>
    </div>

    <main id="admin-main">
        <h2>Bentornato, <strong>nome-placeholder</strong></h2>
        <img id="foto-profilo" src="" alt="Il tuo logo">
        <dl id="dati-admin">
            <!-- azienda-placeholder -->
        </dl>

        <div id="admin-links">
            <a href="http://localhost/TW/EazyJobs/ModificaAdmin.php" id="modifica-admin">Modifica i tuoi dati</a>
            <a href="http://localhost/TW/EazyJobs/PubblicaAnnuncio.php" id="pubblica-annuncio">Pubblica un annuncio</a>
        </div>

        <h3>Annunci pubblicati</h3>
        <ul class="annunci" id="admin-listaAnnunci">
            <!-- annunci-placeholder -->
        </ul>

        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <p>Sei sicuro di voler eliminare questo annuncio?</p>
                <button id="confirmButton">Conferma</button>
                <button id="cancelButton">Annulla</button>
            </div>
        </div>

        <h3>Recensioni ricevute</h3>
        <ul id="admin-recensioni">
            <!-- recensioni-placeholder -->
        </ul>
    </main>
    
    <footer>
    <nav id="footer">
        <ul>
            <li><a href="Contattaci.html">Contattaci</a></li>
            <li><a href="Chi_siamo.html">Chi siamo</a></li>
        </ul>
    </nav>
    </footer>
    <script src="./src/script.js"></script>
</body>
