<!-- VALIDATO -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Annunci - EazyJobs</title>
    <meta name="keywords" content="EazyJobs, annunci, cerca, filtri, data, azienda, provincia, settore, istruzione, esperienza, stipendio, candidati, salva">
    <meta name="description" content="Cerca e trova l'annuncio di lavoro che fa per te sulla base di vari criteri come l'azienda, la provincia, il settore e lo stipendio di tuo interesse">
    <link rel="stylesheet" href="./stylesheet.css" media="screen">
    <link rel="stylesheet" href="./style_mini.css" media="screen and (max-width:768px)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body onload="showHideNav()">
    <a class="nascosto" href="#primoContenuto">Vai al contenuto</a>
    <header>
        <div class="header-logo">
            <h1><span lang="en">EazyJobs</span></h1>
        </div>
        <div class="header-actions">
            <a href=php-placeholder>link-placeholder</a>
        </div>
    </header>
    <div class="header-burger">
        <button class="hamburger" type="button" onclick="showHideNav();" aria-label="Apri il menu di navigazione" aria-expanded="true" aria-haspopup="menu">
            <span class="burger close">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </span>
        </button>
    </div>
    <div id="navigazione">
        <nav id="menu" aria-label="Menu principale">
            <ul>
                <li lang="en"><a href="Home.php">Home</a></li>
                <li>Annunci</li>
                <li><a href=php-placeholder>link-placeholder</a></li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb" aria-label="Navigazione breadcrumb">
            <p>Ti trovi in: <a href="Home.php" lang="en">Home</a> &gt;&gt; Annunci</p>
        </nav>
    </div>

    <main id="annunci-main">
        <span id="primoContenuto">
            <div id="barra-ricerca">
                <h2>Cerca tra gli annunci</h2>
                <form action="Annunci.php" method="get" id="annunci-ricerca">
                    <label for="professione" class="nascosto">Professione</label>
                    <input type="text" id="professione" name="professione" list="suggerimenti-professione" placeholder="Professione..." required>

                    <label for="locazione" class="nascosto">Provincia</label>
                    <input type="text" id="locazione" name="locazione" list="suggerimenti-locazione" placeholder="Provincia..." required>
                    <datalist id="suggerimenti-professione">
                        <!--titolo-placeholder-->
                    </datalist>
                    <datalist id="suggerimenti-locazione">
                        <!--locazione-placeholder-->
                    </datalist>
                    <button type="submit" aria-label="Cerca per professione e provincia"><span class="screen-reader">Cerca</span> <img src="./assets/icons/search.png" alt="Icona ricerca"></button>
                </form> 
            </div>
        </span>

        <div id="content">
            <input id="bottone-filtri" type="submit" value="Mostra filtri">
            <div id="ricerca-avanzata">
                <form id="filtri-ricerca" method="get">
                    <div id="filtri">
                        <div><label for="data_pub">Data:</label>
                            <select id="data_pub" name="data_pub">
                                <option value="Nessuna">Nessuna</option>
                                <option value="ultime-24-ore">Ultime 24 ore</option>
                                <option value="ultimi-3-giorni">Ultimi 3 giorni</option>
                                <option value="ultimi-7-giorni">Ultimi 7 giorni</option>
                                <option value="ultimi-14-giorni">Ultimi 14 giorni</option>
                            </select>
                        </div>
                        <div><label for="azienda">Azienda:</label>
                            <input type="text" id="azienda" name="nome" list="suggerimenti-azienda" placeholder="Cerca Azienda..." required>
                            <datalist id="suggerimenti-azienda">
                                    <option value="Nessuna">Nessuna</option>
                                    <!--nome-placeholder-->
                            </datalist>
                        </div>
                        <div><label for="province">Provincia:</label>
                            <select id="province" name="locazione">
                                <option value="Nessuna">Nessuna</option>
                                <!--provincie-placeholder-->
                            </select>
                        </div>
                        <div><label for="settore">Settore:</label>
                            <select id="settore" name="settore">
                                <option value="Nessuna">Nessuna</option>
                                <!--settore-placeholder-->
                            </select>
                        </div>
                        <div>
                            <fieldset id="modalità">
                                <legend>Modalità:</legend>
                                <div class="checkbox-modalità">
                                    <input type="checkbox" id="modalità-remoto" name="remoto" value="1">
                                    <label for="modalità-remoto">Da remoto</label>
                                </div>                
                                <div class="checkbox-modalità">
                                    <input type="checkbox" id="modalità-presenza" name="presenza" value="1">
                                    <label for="modalità-presenza">In presenza</label>
                                </div>
                            </fieldset>
                        </div>
                        <div>
                            <fieldset id="contratto">
                                <legend>Tipo contratto:</legend>
                                <div class="radio-contratto">
                                    <input type="radio" id="determinato" name="contratto" value="Tempo determinato">
                                    <label for="determinato">Tempo determinato</label>
                                </div>
                                <div class="radio-contratto">
                                    <input type="radio" id="indeterminato" name="contratto" value="Tempo indeterminato">
                                    <label for="indeterminato">Tempo indeterminato</label>
                                </div>
                            </fieldset>
                        </div>
                        <div>
                            <label for="livello_istruzione">Livello istruzione:</label>
                            <select id="livello_istruzione" name="livello_istruzione">
                                <option value="Nessuna">Nessuna</option>
                                <option value="diploma">Diploma</option>
                                <option value="laurea-triennale">Laurea Triennale</option>
                                <option value="laurea-magistrale">Laurea Magistrale</option>
                                <option value="dottorato">Dottorato</option>
                            </select>
                        </div>

                        <div>
                            <label for="rangeEsperienza">Esperienza:</label>          
                            <input type="number" id="rangeEsperienza" name="esperienza" min="1" max="5" value="5">  
                        </div>
                        <div>
                            <label for="rangeSalario">Stipendio:</label>
                            <input type="range" id="rangeSalario" name="stipendio" min="min-placeholder" max="max-placeholder" step="100" value="value-placeholder">
                        </div>               
                    </div>  
                    <input id="applica-filtri" type="submit" value="Cerca" aria-label="Cerca applicando i filtri">          
                </form>       
                <div id="annunci-temp">
                <ul class="annunci" id="annunci-listaAnnunci">
                    <!--annunci-placeholder-->
                </ul>
                <div id ="annunci-completi">
                    <!--completo-placeholder-->
                </div>
            </div>
            </div>
        </div>

    </main>
    
    <footer>
        <nav id="footer" aria-label="Piè di pagina">
            <ul>
                <li>
                    <ul id="contattaci">
                        <li>Contattaci:</li>
                        <div id="contatti">
                            <li><abbr title="telefono">Tel: </abbr><a href="tel:+390437931949">0435 673238</a></li>
                            <li><span lang="en">Email: </span><a href="mailto:info@bonaegava.com">info@eazyjobs.com</a></li>
                        </div>
                    </ul>
                </li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <p lang="en">&copy; 2024 EazyJobs - All rights reserved.</p>
    </footer>
    <script src="./src/script.js"></script>
</body>
