<!-- VALIDATO -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Pagina non trovata - EazyJobs</title>
    <meta name="keywords" content="EazyJobs, pagina non trovata, 404, non esiste, errore, problema">
    <meta name="description" content="Pagina non trovata di EazyJobs">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="./style_mini.css" media="screen and (max-width:768px)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body onload="showHideNav()">
    <a class="nascosto" href="#primoContenuto">Vai al contenuto</a>
    <header>
        <div class="header-actions">
            <a href="">Log-out</a>
        </div>
        <div class="header-logo">
            <h1><span lang="en">EazyJobs</span></h1>
        </div>
        <div class="header-burger">
            <button class="hamburger" type="button" onclick="showHideNav();" aria-label="Apri il menu di navigazione" aria-expanded="true" aria-haspopup="menu">
                <span class="burger close">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
    </header>
    <div id="navigazione">
        <nav id="menu" aria-label="Menu principale">
            <ul>
                <li lang="en"><a href="Home.php">Home</a></li>
                <li><a href="Annunci.php">Annunci</a></li>
                <li><a href="./api/login.php">Accedi</a></li>
                <li><a href="Contattaci.html">Contattaci</a></li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb" aria-label="Navigazione breadcrumb">
            <p>Ti trovi in: Pagina non trovata</p>
        </nav>
    </div>
    <main id="errore404-main">
        <div id="primoContenuto">
            <h2>Non abbiamo trovato la pagina che stai cercando.</h2>
            <img src="./assets/illustrations/undraw_location_search_re_ttoj.svg" alt="">
            <a href="Home.php">Torna alla <span lang="en">home</span></a>

            <section id="help">
                <h3>Cosa potrebbe essere successo?</h3>
                <ul>
                    <li>la pagina che hai cercato non esiste più</li>
                    <li>c'è un errore di battitura nel link che stai cercando</li>
                    <li>i nostri sistemi al momento non rispondono correttamente, ci stiamo occupando del problema</li>
                </ul>
                <p>Se il problema persiste <a href="#contatti">contattaci</a>.</p>
            </section>
        </div>
    </main>
    <footer>
        <nav id="footer" aria-label="Piè di pagina">
            <ul>
                <li>
                    <ul id="contattaci">
                        <li>Contattaci:</li>
                        <div id="contatti">
                            <li><abbr title="telefono">Tel: </abbr><a href="tel:+390437931949">0435 673238</a></li>
                            <li><span lang="en">Email: </span><a href="mailto:info@bonaegava.com">info@eazyjobs.com</a></li>
                        </div>
                    </ul>
                </li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <p lang="en">&copy; 2024 EazyJobs - All rights reserved.</p>
    </footer>
    <script src="./src/script.js"></script>
</body>
</html>