<!-- VALIDATO -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>EazyJobs</title>
    <meta name="keywords" content="EazyJobs, home, cerca tra gli annunci, match perfetto, aziende, professionisti, opportunità di lavoro, filtra, preferenze, salva, preferiti, recensioni, dipendenti, personale, comunità, candidati">
    <meta name="description" content="Che tu sia un candidato in cerca di nuove opportunità di lavoro o un'azienda in cerca di nuovo personale, EazyJobs trova il match perfetto tra aziende e professionisti">
    <link rel="stylesheet" href="./stylesheet.css" media="screen">
    <link rel="stylesheet" href="./style_mini.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="./print.css" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>

<body onload="showHideNav()">
    <a class="nascosto" href="#primoContenuto">Vai al contenuto</a>
    <header>
        <div class="header-logo">
            <h1><span lang="en">EazyJobs</span></h1>
        </div>
        <div class="header-actions">
            <a href=php-placeholder>link-placeholder</a>
        </div>
    </header>

    <div class="header-burger">
        <button type="button" class="hamburger" onclick="showHideNav();" aria-label="Apri il menu di navigazione" aria-expanded="true" aria-haspopup="menu">
            <span class="burger close">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </span>
        </button>
    </div>
    
    <div id="navigazione"> 
        <nav id="menu" aria-label="Menu principale">
            <ul>
                <li lang="en">Home</li>
                <li><a href="Annunci.php">Annunci</a></li>
                <li><a href=php-placeholder>link-placeholder</a></li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb" aria-label="Navigazione breadcrumb">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        </nav>
    </div>
    <main id="home-main">
        <div id="primoContenuto">
            <div id="barra-ricerca">
                <h2>Cerca tra gli annunci</h2>
                
                <form action="Annunci.php" method="get" id="home-ricerca">
                    <label for="professione" class="nascosto">Professione</label>
                    <input type="text" id="professione" name="professione" list="suggerimenti-professione" placeholder="Professione..." required>

                    <label for="locazione" class="nascosto">Provincia</label>
                    <input type="text" id="locazione" name="locazione" list="suggerimenti-locazione" placeholder="Provincia..." required>
                    <datalist id="suggerimenti-professione">
                        <!-- suggerimenti-professione-placeholder -->
                    </datalist>
                    <datalist id="suggerimenti-locazione">
                        <!-- suggerimenti-locazione-placeholder -->
                    </datalist>
                    <button type="submit"><span class="screen-reader">Cerca</span> <img src="./assets/icons/search.png" alt=""></button>
                </form>
            </div>
        </div>

        <div id="content">
            <section id="cosa-offriamo">
                <h2>Troviamo il <em><span lang="en">match</span> perfetto</em> tra aziende e professionisti</h2>
                <img src="./assets/illustrations/undraw_business_deal_re_up4u.svg" alt="">
                
                <section id="candidati-card">
                    <h3>Stai cercando nuove opportunità di lavoro?</h3>
                    <ul class="features-list">
                        <li>Cerca tra migliaia di annunci differenti</li>
                        <li>Filtra in base alle tue preferenze</li>
                        <li>Salva i tuoi annunci preferiti</li>
                        <li>Consulta le informazioni di ciasun azienda e leggi le recensioni lasciate dai dipendenti</li>
                        
                    </ul>
                </section>

                <section id="aziende-card">
                    <h3>Sei un'azienda in cerca di personale?</h3>
                    <ul class="features-list">
                        <li>Fatti conoscere nella comunità di EazyJobs</li>
                        <li>Crea e pubblica i tuoi annunci</li>
                        <li>Consulta la lista dei candidati</li>
                    </ul>
                </section>
            </section>

            <section id="container-aziende">
                <div class="delimitatore">
                    <h2>Le nostre aziende più votate: </h2>
                </div>

                <ul id="aziende">
                    <!-- aziende-placeholder -->
                </ul>
            </section>
        </div>
    </main>

    <footer>
        <nav id="footer" aria-label="Piè di pagina">
            <ul>
                <li>
                    <ul id="contattaci">
                        <li>Contattaci:</li>
                        <div id="contatti">
                            <li><abbr title="telefono">Tel: </abbr><a href="tel:+390437931949">0435 673238</a></li>
                            <li><span lang="en">Email: </span><a href="mailto:info@bonaegava.com">info@eazyjobs.com</a></li>
                        </div>
                    </ul>
                </li>
                <li><a href="Chi_siamo.php">Chi siamo</a></li>
            </ul>
        </nav>
        <p lang="en">&copy; 2024 EazyJobs - All rights reserved.</p>
    </footer>
    <script src="./src/script.js"></script>
</body>
</html>