<!-- VALIDATO -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica Candidato - EazyJobs</title>
    <meta name="keywords" content="EazyJobs, modifica, candidato">
    <meta name="description" content="Form di modifica dati per i candidati di EazyJobs">
    <link rel="stylesheet" href="./style/stylesheet.css">
    <link rel="stylesheet" href="./style/style_mini.css" media="screen and (max-width:768px)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><span lang="en">EazyJobs</span></h1>
    </header>

    <div id="navigazione"> 
        <nav id="breadcrumb" aria-label="Navigazione breadcrumb">
            <p>Ti trovi in: <a href="User.php" lang="en">Area Personale Candidato</a> &gt;&gt; Modifica Candidato</p>
        </nav>
    </div>

    <main id="registrazione-main">
        <form action="./api/utenti/modify.php" method="post" id="registrazione-form" enctype="multipart/form-data">

            <div id="credenziali">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="nome-placeholder" placeholder="Nome Cognome" required>
                <div id="nome-errore" class="messaggio-errore">nome-errore-placeholder</div>
        
                <label for="email"><span lang="en">Email</span>:</label>
                <input type="email" id="email" name="email" value="email-placeholder" placeholder="nome.cognome@gmail.com" required>
                <div id="email-errore" class="messaggio-errore">email-errore-placeholder</div>
        
                <label for="password"><span lang="en">Password</span>:</label>
                <input type="password" id="password" name="password" value="password-placeholder" placeholder="Deve contenere da 8 a 12 caratteri" required>
                <div id="password-errore" class="messaggio-errore">password-errore-placeholder</div>
            </div>
        
            <input type="submit" id="modifica-bottone" data-validation="validateFields" value='Applica modifiche'>
            <div class="messaggio-errore" aria-live="assertive">credenziali-errore-placeholder</div>
        
        </form>        
    </main>
    
    <script src="./src/script.js"></script>

<footer>
    <nav id="footer" aria-label="Piè di pagina">
        <ul>
            <li>
                <ul id="contattaci">
                    <li>Contattaci:</li>
                    <li>
                        <ul id="contatti">
                            <li><abbr title="telefono">Tel: </abbr><a href="tel:+390435673238">0435 673238</a></li>
                            <li><span lang="en">Email: </span><a href="mailto:info@eazyjobs.com">info@eazyjobs.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="Chi_siamo.php">Chi siamo</a></li>
        </ul>
    </nav>
    <p lang="en">© 2024 EazyJobs - All rights reserved.</p>
</footer>  
</body></html>
