<!-- VALIDATO -->
<!-- html ok -->
<!-- button ok -->
<!-- form -->
<!-- img ok -->
<!-- tabindex -->
<!-- da controllare la post-->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>EazyJobs Annunci</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>EazyJobs</h1>
    </header>

<main id="pubblica-annuncio-main">

    <form action="http://localhost/TW/EazyJobs/api/annunci/insertNew.php" method="post" id="publishJob-form">
        <fieldset id="contenuti" class="visible-fieldset">
        <legend>Contenuti</legend>
        <input type="hidden" name="annuncioId" value="annuncioId-placeholder">

        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo" placeholder="Scrivi qui il titolo dell'annuncio">
        <div id="titolo-errore" class="messaggio-errore">titolo-errore-placeholder</div>
        
        <label for="desc_breve">Breve descrizione:</label>
        <textarea id="desc_breve" name="desc_breve" placeholder="Scrivi qui una breve descrizione"></textarea>
        <div id="desc_breve-errore" class="messaggio-errore">desc-breve-errore-placeholder</div>

        <label for="desc_completa">Descrizione completa:</label>
        <textarea id="desc_completa" name="desc_completa" placeholder="Scrivi qui una versione più completa della descrizione"></textarea>
        <div id="desc_completa-errore" class="messaggio-errore">desc-completa-errore-placeholder</div>
        </fieldset>
        <fieldset id="caratteristiche" class="hidden-fieldset">
            <legend>Caratteristiche</legend>
        <label for="locazione">Provincia:</label>
        <input type="text" id="locazione" name="locazione" placeholder="Scrivi qui la località di lavoro">
        <div id="locazione-errore" class="messaggio-errore">locazione-errore-placeholder</div>

        <label for="settore">Settore:</label>
        <input type="text" id="settore" name="settore" placeholder="Scrivi qui il settore">
        <div id="settore-errore" class="messaggio-errore">settore-errore-placeholder</div>

        <label>Modalità di lavoro:</label>
        <div class="checkbox-group">
            <input type="checkbox" id="modalità-remoto" name="modalità-remoto">
            <label for="modalità-remoto" class="checkbox-label">Da remoto</label>

            <input type="checkbox" id="modalità-presenza" name="modalità-presenza">
            <label for="modalità-presenza" class="checkbox-label">In presenza</label>
        </div>
        <div id="checkbox-errore" class="messaggio-errore">checkbox-errore-placeholder</div>

        <label>Tipo contratto:</label>
        <div class="radio-group">
            <input type="radio" id="determinato" name="contratto" value="Tempo determinato">
            <label for="determinato" class="radio-label">Tempo determinato</label>

            <input type="radio" id="indeterminato" name="contratto" value="Tempo indeterminato">
            <label for="indeterminato" class="radio-label">Tempo indeterminato</label>
        </div>
        <div class="messaggio-errore">radio-errore-placeholder</div>
    </fieldset>
    <fieldset id="requisiti" class="hidden-fieldset">
        <legend>Requisiti</legend>
        <label for="livello_istruzione">Livello istruzione richiesto:</label>
        <select id="livello_istruzione" name="livello_istruzione">
            <option value="Diploma" >Diploma</option>
            <option value="Laurea Triennale" >Laurea Triennale</option>
            <option value="Laurea Magistrale" >Laurea Magistrale</option>
            <option value="Dottorato" >Dottorato</option>
        </select>
        <div class="messaggio-errore">istruzione-errore-placeholder</div>

        <label for="esperienza">Anni di esperienza richiesti:</label>
        <select id="esperienza" name="esperienza">
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
        </select>
        <div class="messaggio-errore">esperienza-errore-placeholder</div>

        <label for="stipendio">Stipendio:</label>
        <input type="text" id="stipendio" name="stipendio" value="0">
        <div id="stipendio-errore" class="messaggio-errore">stipendio-errore-placeholder</div>
    </fieldset>
    <input type="submit" id="disabled-modificaAnnuncio-bottone" data-validation="validateFields" value='Pubblica Annunci' disabled="true">
</form>
    <div id="buttons">
        <input type="submit" id="prev" value="Precedente">
        <input type="submit" id="next" value="Successivo">
    </div>
    
</main>
<script src="./src/script.js"></script>
</body>

