<!--needs to be validated-->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Registrazione Azienda - EazyJobs</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>EazyJobs</h1>
    </header>

    <main id="registrazione-main">
        <form action="./../api/aziende/register.php" method="post" id="registrazione-form" enctype="multipart/form-data">

            <fieldset id="credenziali" class="visible-fieldset">
                <legend>Credenziali</legend>

                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Nome">
                <div id="nome-errore" class="messaggio-errore">nome-errore-placeholder</div>
        
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="nome@gmail.com">
                <div id="email-errore" class="messaggio-errore">email-errore-placeholder</div>
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Deve contenere da 8 a 12 caratteri">
                <div id="password-errore" class="messaggio-errore">password-errore-placeholder</div>
            </fieldset>

            <fieldset id="dettagli" class="hidden-fieldset">
                <legend>Dettagli di interesse</legend>

                <label for="sito">Sito web:</label>
                <input type="url" id="sito" name="sito" placeholder="https://nome.it">
                <div id="sito-errore" class="messaggio-errore">sito-errore-placeholder</div>

                <label for="fondazione">Anno di fondazione:</label>
                <input type="number" id="fondazione" name="fondazione" min="1800" max="currentYear-placeholder">
                <div id="fondazione-errore" class="messaggio-errore">fondazione-errore-placeholder</div>

                <label for="dipendenti">Numero di dipendenti:</label>
                <input type="text" id="dipendenti" name="dipendenti">
                <div id="dipendenti-errore" class="messaggio-errore">dipendenti-errore-placeholder</div>

                <label for="fatturato">Fatturato:</label>
                <input type="text" id="fatturato" name="fatturato">
                <div id="fatturato-errore" class="messaggio-errore">fatturato-errore-placeholder</div>
</fieldset>

            <fieldset id="dati" class="hidden-fieldset">
                <legend>Dati rilevanti</legend>

                <label for="locazione">Sede centrale (provincia):</label>
                <input type="text" id="locazione" name="locazione">
                <div id="locazione-errore" class="messaggio-errore">locazione-errore-placeholder</div>

                <label for="settore">Settore:</label>
                <input type="text" id="settore" name="settore">
                <div id="settore-errore" class="messaggio-errore">settore-errore-placeholder</div>

                <label for="desc_completa">Descrizione:</label>
                <textarea id="desc_completa" name="desc_completa"></textarea>
                <div id="desc_completa-errore" class="messaggio-errore">desc-completa-errore-placeholder</div>
                        
            <label for="logo">Logo (opzionale):</label>
            <input type="file" id="logo" name="logo">
            <div id="logo-errore" class="messaggio-errore">logo-errore-placeholder</div>
</fieldset>
            
            <input type="submit" id="disabled-modificaAdmin-bottone" data-validation="validateFields" value='Registrati' disabled>
            <div class="messaggio-errore" aria-live="assertive">credenziali-errore-placeholder</div>
                </form>        
<div id="admin-buttons">
            <input type="submit" id="prev" value="Precedente">
            <input type="submit" id="next" value="Successivo">
        </div>      
    </main>
    
    <script src="./src/script.js"></script>
</body>
