<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>EazyJobs: Area Personale</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./stylesheet.css" media="screen">
    <link rel="stylesheet" href="user_style_mini.css" media="screen and (max-width:768px)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syncopate:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>EazyJobs</h1>
    </header>
    <div id="navigazione">
        <nav id="menu">
            <ul>
                <li lang="en"><a href="Home.php">Home</a></li>
                <li><a href="Annunci.php">Annunci</a></li>
                <li><a href="http://localhost/TW/EazyJobs/api/logout.php">Esci</a></li>
            </ul>
        </nav>
        <nav id="breadcrumb">
            <p>Ti trovi nella tua Area Personale</p>
        </nav>
    </div>
    <main id="user-main">
        <h2>Bentornato, <strong>nome-placeholder</strong></h2>
        <dl class="dati-utente">
            <!-- utente-placeholder -->
            <form action="http://localhost/TW/EazyJobs/api/utenti/modifyCV.php" method="post" id="upload-cv-form" enctype="multipart/form-data">
                <label for="cv">Modifica Curriculum:</label>
                <input type="file" id="cv" name="cv">
                <input type="submit" data-validation="validateFields" value="Upload">
                <div id="cv-errore" class="messaggio-errore">cv-errore-placeholder</div>
            </form>
        </dl>

        <a href="http://localhost/TW/EazyJobs/ModificaUser.php">Modifica i tuoi dati</a>

        <section>
            <div id="user-listaAnnunci-header" class="hiding">
                <h3>I miei preferiti</h3>
                <button id="annunci-toggle" name="annunci" type="button" onclick="showHideCards('user-listaAnnunci');changeButton(name);" aria-expanded="false" aria-controls="annunci">
                    <!--Mostra annunci  (label bottone da modificare via js per access.)-->
                    <span class="toggle show"></span>
                </button>
            </div>
            <ul id="user-listaAnnunci" class="hiding">
                <!-- annunci-placeholder -->
            </ul>
        </section>

        <section>
            <div id="user-recensioni-header" class="hiding">
                <h3>Le mie recensioni</h3>
                <button id="recensioni-toggle" name="recensioni" type="button" onclick="showHideCards('user-recensioni');changeButton(name);" aria-expanded="false" aria-controls="recensioni">
                    <!-- Mostra recensioni (label bottone da modificare via js per access.)-->
                    <span class="toggle show"></span>
                </button>
            </div>
            <ul id="user-recensioni" class="hiding">
                <!-- recensioni-placeholder -->
            </ul>
        </section>
    </main>
    <footer>
        <nav id="footer">
            <ul>
                <li><a href="Contattaci.html">Contattaci</a></li>
                <li><a href="Chi_siamo.html">Chi siamo</a></li>
            </ul>
        </nav>
    </footer>
    <script src="./src/script.js"></script>
</body>
</html>
