*{
    margin: 0;
    padding: 0;
}

:root{
    --headerBgColor: #f7e7ce;
    --headerTxtColor: #52154e;
    --bgColor: #b48e92;
    --txtColor: rgb(0,0,0);
    --footerBgColor: #f7e7ce;
    --footerTxtColor: #52154e;
    --linkColor: #52154e;
    --visitedLinkColor: #b48e92;
    --font-body-family: "Roboto Condensed", sans-serif;
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
}

header{
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
    max-width: 100%;
    margin: 0 auto; 
}

header h1 {
    font-size: 2.5em;
    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Syncopate', sans-serif;
}

nav{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}

nav a:link{
    color:var(--linkColor);
}

nav a:visited{
    color:var(--visitedLinkColor);
}

#menu a:link{
    color:var(--linkColor);
}

#menu a:visited{
    color:var(--visitedLinkColor);
}

#navigazione {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: var(--headerBgColor);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: 0 auto;
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#menu ul li {
    display: inline;
    flex: 1;
}

#menu ul li:last-child {
    text-align: right;
}

#breadcrumb {
    text-align: left;
    padding: 0.5em;
}

main {
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    width: 75%;
    padding: 1em;
}

body a {
    color: var(--linkColor);
}

body a:hover {
    color: var(--visitedLinkColor);
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--headerBgColor);
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    max-width: 30%;
    min-width: fit-content;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

#loginForm label {
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
}

#credentials {
    display: flex;
    flex-direction: column;
}

#credentials label {
    font-size: 1.3em;
}

#loginForm button {
    padding: 0.5em 1em;
    background-color: var(--headerTxtColor);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 2em;
}

#loginForm button:hover {
    color: var(--headerTxtColor);
    background-color: white;
}
  
footer {
    background-color: var(--headerBgColor);
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: 0 auto;
}

#footer ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    padding: 0.5em;
}

#footer li {
    display: inline;
    flex: 1;
}

