#annunci-main {
    height: auto;
    width: 100%;
    
}

form {
    text-align: center;
    margin: 1em 0;
    order: 1;
}

#ricerca-avanzata {
    display: flex;
    flex-direction: column;
}

#filtri-ricerca {
    display: none;
    width: 100%;
    margin-top: 0;
    background-color: var(--headerBgColor);
    border-radius: 1em;
    padding-bottom: 0.5em;
    order: 0;
}

#filtri-ricerca.hiding {
    display: none;
}

#filtri-ricerca.showing {
    display: block;
}

#filtri {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: var(--headerBgColor);
    border-radius: 0;
    margin: 1em auto 1em;
    padding: 0.3em;
    border: none;
}

#filtri div {
    width: 50%;
    padding: 0.3em;
    background-color: var(--footerBgColor);  
    margin: 0.3em;
}

#filtri div label {
    width: 90%;
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
}

#filtri div select,
#filtri div input[type="text"],
#filtri div input[type="range"] {
    width: 100%;
    margin: auto;
    height: auto;
}

#filtri div input[type="number"]{
    width: 30%;
    margin: auto;
    height: auto;
}

#filtri div .checkbox-modalità,
#filtri div .radio-contratto {
    display: flex;
    margin: auto;
}

#filtri div .checkbox-modalità label,
#filtri div .radio-contratto label {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

#filtri #modalità legend {
    width: 30%;
}

#filtri #contratto legend {
    width: 50%;
}

#bottone-filtri {
    width: auto;
    display: block;
    align-self: end;
    margin: 1em 1em 0 1em;
}

#bottone-filtri.showing {
    border-radius: 1em 1em 0 0;
    background-color: var(--footerBgColor);
    color: black;
}

#bottone-filtri.hiding {
    border-radius: 1em;
}

#filtri-ricerca input[type="submit"] {
    width: auto;
    margin: auto;
}

ul.annunci {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    max-height: 80vh;
    width: 100%;
    list-style-type: none;
    overflow-x: unset;
}

ul.annunci.hidden {    
    display: none;
    max-height: 0;
}

ul.annunci li {
    background-color: white;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    max-width: 100%;
    padding: 1em;
    margin: 1em;
}

ul.annunci li h3 {
    font-size: 1.3em;
}

ul.annunci li a {
    color: var(--linkColor);
}

ul.annunci li a:visited {
    color: var(--visitedLinkColor)
}

ul.annunci li h4 {
    font-size: 1em;
}

ul.annunci li h5 {
    font-size: 0.9em;
    font-weight: bold;
}

ul.annunci li p {
    font-size: 0.8em;
}

.header-annunci {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-wrap: nowrap;
    overflow: hidden;
    gap: 1em;
}

.header-annunci h4, .header-annunci img {
    margin: 0;
}

ul.annunci img {
    height: 0;
}

ul.job-info {
    list-style-type: none;
    margin-top: 1em;
}

ul.job-info li {
    display: flex;
    gap: 0.5em;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

/* da guardare meglio lo stile, ciò che serve o meno. (ho fatto copia incolla da annuncio completo, e graficamente è ok) */
#annunci-completi{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
}

.annuncio-completo {    
    background-color: #fff;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    min-height: 40vh;
}

.bottone-annunci {
    display: block;
}

.annuncio-completo img {
    display: none;
}

.annuncio-completo h3 {
    font-size: 1.4em;
    color: var(--headerTxtColor);
}

.annuncio-completo h4 {
    font-size: 1.1em;
}

.annuncio-completo h5 {
    font-size: 1em;
    font-weight: bold;
}

.annuncio-completo p {
    font-size: 0.9em;
}

.annuncio-completo ul h5 {
    font-size: 0.9em;
    font-weight: bold;
}

.annuncio-completo ul p {
    font-size: 0.8em;
}

ul.annuncio-info {
    list-style-type: none;
    margin-top: 1em;
}

ul.annuncio-info li {
    display: flex;
    gap: 0.5em;
}

.dettagli {
    display: none;
    margin-top: 1em;
}

ul.job-complete-info {
    list-style-type: none;
}

ul.job-complete-info li {
    display: flex;
    gap: 0.5em;
}

ul.job-complete-info li h5 {
    white-space: nowrap;
    overflow:visible;
}

ul.job-complete-info li p {/* [...] effect */
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.azioni-aggiuntive {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

ul.azioni-aggiuntive li {
    max-width: fit-content;
    margin: 1em 0;
}

#annunci-main input[type="submit"] {
    padding: 0.5em;
}

.bottone-annunci{
    margin-bottom: 1em;
}

/* @media (max-width: 1200px) {
    ul.annunci li h5 {
        white-space: nowrap;
        overflow: visible;
    }
    ul.annunci li p {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} */

/* @media (max-width: 1024px) {
    .annuncio-completo {
        display: none;
    }
    .bottone-annunci {
        display: inline;
    }
    .bottone-annunci:hover {
        background-color: var(--headerBgColor)
    }
    ul.annunci {
        max-width: fit-content;
    }
    ul.annunci li p {
        text-wrap: wrap;
    }
}

@media (max-width: 768px) {
    #annunci-main {
        width: 100%;
    }
    #filtri-ricerca {
        max-width: 12em;
    }
    #filtri-ricerca {
        display: none;
    }
    #bottone-filtri { 
        display: inline;
        margin-left: 1em;
    }
    ul.annunci li h5 {
        white-space: nowrap;
        overflow: visible;
    }
    ul.annunci li p {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} */