*{
    margin: 0;
    padding: 0;
}

:root{
    --headerBgColor: #f7e7ce;
    --headerTxtColor: #52154e;
    --bgColor: #b48e92;
    --txtColor: rgb(0,0,0);
    --footerBgColor: #f7e7ce;
    --footerTxtColor: #52154e;
    --linkColor: #52154e;
    --visitedLinkColor: #b48e92;
    --font-body-family: "Roboto Condensed", sans-serif;
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
}

header{
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
    max-width: 100%;
    margin: 0 auto; 
}

header h1 {
    font-size: 2.5em;
    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Syncopate', sans-serif;
}

nav{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}

nav a:link{
    color:var(--linkColor);
}

nav a:visited{
    color:var(--visitedLinkColor);
}

#menu a:link{
    color:var(--linkColor);
}

#menu a:visited{
    color:var(--visitedLinkColor);
}

#navigazione {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: var(--headerBgColor);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: 0 auto;
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#menu ul li {
    display: inline;
    flex: 1;
}

#menu ul li:last-child {
    text-align: right;
}

#breadcrumb {
    text-align: left;
    padding: 0.5em;
}

main {
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 75%;
}

form {
    text-align: center;
    margin: 1em 0;
}

#professione,
#locazione {
    border: none;
    padding: 0.5em;
    margin-top: 1em;
    display: inline;
}

#professione {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#locazione {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

button[type="submit"] {
    padding: 0.5em 1em;
    background-color: var(--headerTxtColor);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--footerBgColor);
}

#filtered-search {
    display: flex;
}

#jobFilters {
    max-width: 15em;
}

#filterList {
    list-style-type: none;
    max-width: 90%;
    background-color: var(--headerBgColor);
    border-radius: 1em;
    margin: 1em;
    margin-top: 0;
    padding: 0.3em;
    border: 0.15em var(--footerTxtColor) solid;
}

#filterList li {
    padding: 0.3em;
    background-color: var(--footerBgColor);  
    margin: 0.3em;
}

#filterList li label {
    width: 90%;
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
}

#filterList li select,
#filterList li input[type="text"],
#filterList li input[type="range"] {
    width: 100%;
    margin: auto;
    height: auto;
}

#filterList li .checkbox-group {
    display: flex;
    margin: auto;
}

#filterList li .checkbox-group label {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

#filterList li input[type="range"]::before {    /*before:: must verify if necessary*/
    content: attr(min);
    position: relative;
    left: 0;
    bottom: -1em;
    font-size: 12px;
}

#filterList li input[type="range"]::after {     /*after:: must verify if necessary*/
    content: attr(max);
    position: relative;
    right: 0;
    bottom: -1em;
    font-size: 12px;
}

#jobFilters button {
    width: auto;
    margin: auto;
}

ul.annunci {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    height: 45em;
    list-style-type: none;
}

ul.annunci::-webkit-scrollbar {
    width: 0.5em;
    background-color: #f7e7ce;
}

ul.annunci::-webkit-scrollbar-thumb {
    background-color: #f8d9a7;
}

ul.annunci li {
    background-color: white;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    max-width: 100%;
    padding: 1em;
    margin: 1em;
}

ul.annunci li h3 {
    font-size: 1.3em;
    color: var(--footerTxtColor);
}

ul.annunci li h4 {
    font-size: 1em;
}

ul.annunci li h5 {
    font-size: 0.9em;
    font-weight: bold;
}

ul.annunci li p {
    font-size: 0.8em;
}

.header-annunci {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    overflow: hidden;
    gap: 1em;
}

.header-annunci h4, img {   /* fix header changing when resizing */
    margin: auto;
}

ul.annunci img {
    max-width: 15%;
}

ul.job-info {
    list-style-type: none;
    margin-top: 1em;
}

ul.job-info li {
    display: flex;
    gap: 0.5em;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

#annuncio-completo {
    max-width: 45%;
    background-color: #fff;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    height: 40em;
}

#annuncio-completo img {
    max-width: 15%;
}

#annuncio-completo h3 {
    font-size: 1.4em;
    color: var(--headerTxtColor);
}

#annuncio-completo h4 {
    font-size: 1.1em;
    margin-left: 9em;
}

#annuncio-completo h5 {
    font-size: 1em;
    font-weight: bold;
}

#annuncio-completo p {
    font-size: 0.9em;
}

#annuncio-completo ul h5 {
    font-size: 0.9em;
    font-weight: bold;
}

#annuncio-completo ul p {
    font-size: 0.8em;
}

ul.annuncio-info {
    list-style-type: none;
    margin-top: 1em;
}

ul.annuncio-info li {
    display: flex;
    gap: 0.5em;
}

#dettagli {
    display: none;
    margin-top: 1em;
}

ul.job-complete-info {
    list-style-type: none;
}

ul.job-complete-info li {
    display: flex;
    gap: 0.5em;
}

ul.job-complete-info li h5 {
    white-space: nowrap;
    overflow:visible;
}

ul.job-complete-info li p {     /* [...] effect */
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.azioni-aggiuntive {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

ul.azioni-aggiuntive li {
    max-width: fit-content;
    margin: 1em 0;
}

#bottone-dettagli {
    padding: 0.5em 1em;
    background-color: var(--headerTxtColor);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

#bottone-dettagli:hover {
    background-color: var(--footerBgColor);
}

footer {
    background-color: var(--headerBgColor);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: 2em auto;
}

#footer ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    padding: 0.5em;
}

#footer li {
    display: inline;
    flex: 1;
}

@media (max-width: 1400px) {
    ul.annunci li h5 {
        white-space: nowrap;
        overflow: visible;
    }
    ul.annunci li p {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1200px) {
    #annuncio-completo {
        display: none;
    }
    ul.annunci {
        max-width: fit-content;
    }
    ul.annunci li p {
        text-wrap: wrap;
    }
}

@media (max-width: 800px) {
    main {
        width: 100%;
    }
    #jobFilters {
        max-width: 12em;
    }
    
}

@media (max-width: 500px) {
    ul.annunci li h5 {
        white-space: nowrap;
        overflow: visible;
    }
    ul.annunci li p {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
