#chi_siamo-main {
    height: auto;
    margin: 1em auto;
}

#chi_siamo-block {
    background-color: #fff;
    width: fit-content;
    padding-left: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 1.7em;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}

h3.chi_siamo {
    color: var(--footerTxtColor);
    font-size: 1.15em;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
}

div.blocco {
    padding: 2em;
}

#chi_siamo_img1, #chi_siamo_img3 {
    width: 80%;
    margin: 1em auto;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    float: unset;
}

#chi_siamo_img2 {
    width: 80%;
    margin: 1em auto;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
}