* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin: auto;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFFF;
}

.header-mobile {
    display: none;
}

header h1 {
    font-size: 25pt;
    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    margin-top: 2pt;
}

#menu, #footer{
    display: none;
}

#breadcrumb{
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

main {
    margin-left: 0em;
    width: 100%;
    padding: 0.3em 0em 0.5em 0em;

}

a {
    text-decoration: none;
    color: #000000;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ANNUNCI CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#barra-ricerca {
    display: none;
}

.annunci > li {
    list-style-type: none;
    margin: 8pt 0 8pt 0;
    padding: 8pt 0 8pt 0;
    border-top: 1px solid #000;
}

.job-info > li {
    margin-top: 3pt;
}

.header-annunci img {
    width: 3cm;
    
}

.nascosto {
    display: none;
}

.annunci {
    display: none;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ANNUNCI CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    text-align: center;
    font-size: 10pt;
    font-style: italic;
    padding: 1.3em 0 0.5em;
    border-top: 1px solid #000;
}