*{
    margin: 0;
    padding: 0;
}

:root{
    --headerBgColor: #f7e7ce;
    --headerTxtColor: #52154e;
    --bgColor: #b48e92;
    --txtColor: rgb(0,0,0);
    --footerBgColor: #f7e7ce;
    --footerTxtColor: #52154e;
    --linkColor: #52154e;
    --visitedLinkColor: #b48e92;
    --font-body-family: "Roboto Condensed", sans-serif;
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
}

header{
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
    max-width: 100%;
    margin: 0 auto; 
}

header h1 {
    font-size: 2.5em;
    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Syncopate', sans-serif;
}

main {
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    width: 25em;
    min-height: 75vh;
}

form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 90%;
    margin: 0 auto;
}

label {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: var(--headerTxtColor);
    font-weight: bold;
}

input[type="text"],
textarea,
select,
button {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

#desc_breve, #desc_completa {
    resize: vertical;
    padding: 0.5em;
    box-sizing: border-box;
    vertical-align: top;
    overflow-y: auto;
}

#desc_breve {
    height: 10vh;
}

#desc_completa {
    height: 20vh;
}

.checkbox-group label, .radio-group label {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

button[type="submit"] {
    padding: 0.5em 1em;
    background-color: var(--headerTxtColor);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--footerBgColor);
    color: black;
}

/*.evidenzia-campi-vuoti {
    border: 1px solid red;
}*/

