*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerBgColor: #EBEEFF;
    --headerTxtColor: #023E8A;
    --bgColor: #799CF0;
    --txtColor: rgb(0,0,0);
    --footerBgColor: #EBEEFF;
    --footerTxtColor: #023E8A;
    --linkColor: #023E8A;
    --visitedLinkColor: #799CF0;
    --font-body-family: "Roboto Condensed", sans-serif;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    height: 100%;
}

header {
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
    max-width: 100%;
    margin: 0 auto; 
    /* margin-bottom: 1em; */
}

.header-actions, .header-burger {
    display: none;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Syncopate', sans-serif;
}

nav {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}

a:link {
    color:var(--linkColor);
}

a:visited {
    color:var(--visitedLinkColor);
}

#navigazione {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--headerBgColor);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: 0 auto;
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#menu ul li {
    display: inline;
    flex: 1;
}

#menu ul li:nth-child(3) {  /* show accedi/logout */
    display: block;
    text-align: right;
}

#menu ul li:nth-child(4), #menu ul li:nth-child(5) {    /* hide last 2 */
    display: none;
}

#breadcrumb {
    text-align: left;
    padding: 0.5em;
}

main {
    color: var(--txtColor);
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 1em;
    width: 75%;
    height: 75vh;
}

button, input[type="button"], input[type="submit"] {
    padding: 0.5em 1em;
    background-color: var(--headerTxtColor);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    max-width: fit-content;
    margin-top: 0.5em;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: var(--bgColor);
    color: black;
}

input[type="submit"]{
    padding: 0.5em 1em;
    background-color: var(--headerTxtColor);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
    max-width: fit-content;
}

input[type="submit"]:hover {
    background-color: var(--bgColor);
    color: black;
}

.messaggio-errore {
    color: #a42327;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #fcc;
    border-radius: 0.5em;
    width: 90%;
    margin: 0.5em auto;
}

.errore {
    border: 2px solid #a42327 !important;
}

.nessun-trovato {
    padding: 1em;
    color: var(--headerTxtColor);
    text-align: left;
    font-weight: bold;
    font-size: 1em;
}

.nascosto {
    position: absolute;
    left: -999em;
}

.visible-fieldset{
    display: block;
}

.hidden-fieldset{
    display: none;
}

@media (max-width: 1024px) {
    
    #navigazione {
        max-width: 90%;
    }
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                HOME CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#home-main {
    height: auto;
    background-color: white;
    border-radius: 0;
    box-shadow: none;
}

.delimitatore {
    color: white;
    background-color: var(--headerTxtColor);
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
}

.delimitatore h2 {
    font-size: 1.2em;
}

form {
    text-align: center;
    margin: 0.5em 0;
}

#barra-ricerca{
    background-color: var(--headerBgColor);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

#barra-ricerca form {
    background-color: var(--bgColor);
    border-radius: 1em;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em 0;
    width: 80%;
}

#professione, #locazione {
    border: none;
    padding: 0.5em;
    margin: 0.5em 0;
    display: inline;
    width: 30%;
}

#professione {
    margin-left: 0.5em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#locazione {
    margin-right: 0.5em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

form[action="Annunci.php"] button[type="submit"] {
    max-width: 20%;
    margin-right: 0.5em;
    position: relative;
    margin: 0.5em 0;
}

form[action="Annunci.php"] button[type="submit"] img {
    display: none;
    max-width: 50%;
    max-height: 50%;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

section#cosa-offriamo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    background: url("./assets/illustrations/undraw_qa_engineers_dg-5-p.svg") left 0% top 27% no-repeat,
                url("./assets/illustrations/undraw_doctors_p6aq.svg") left 25% top 32% no-repeat,
                url("./assets/illustrations/undraw_coding_re_iv62.svg") left 5% top 52% no-repeat;
                
    
    background-size: 15%, 21%, 15%, 22%, 20%, 22%;
}

section#cosa-offriamo h2{
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -0.01em;
    width: 50%;
}

section#cosa-offriamo > img {
    width: 50%;
}

section#cosa-offriamo > section {
    border: 0.2em solid white;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    margin-top: 1.5em;
    width: 40%;
    transition: all 0.5s ease-in-out;
}

section#cosa-offriamo > section h3 {
    display: inline;
    font-size: 1.5em;
    /* background: 
    linear-gradient(to right, white, white),
    linear-gradient(to right, var(--bgColor), var(--bgColor));
    background-size: 100% 0.15em, 0 0.15em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s; */
}

section#cosa-offriamo > section:hover {
    border-color: var(--headerTxtColor);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
}

section#cosa-offriamo > section:hover h3 {
    background-size: 0 0.15em, 100% 0.15em;
}

.features-list {
    padding: 0.8em;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
}

.features-list li {
    margin-bottom: 0.4em;
    font-size: 1.1em;
}

section#cosa-offriamo > section:hover .features-list li::marker {
    color: var(--bgColor);
    transition: all 0.4s ease-in-out;
}

section#container-aziende {
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    border-radius: 1em;
}

ul#aziende {
    background-color: var(--headerBgColor);
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    
    gap: 0.5em;
    border-radius: 0 0 1em 1em;
    max-width: 100%;
    margin: 0 auto 1em;
    overflow-x: auto;
    white-space: nowrap;
}

ul#aziende li {
    background-color: #fff;
    width: fit-content;
    padding: 0.7em;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    margin: 0.5em;
}

.header-aziende{
    display: flex;
    justify-content: space-between;
}

.azienda-grid{
    margin-top: 2em;
    width: fit-content;
    display: grid;
    gap: 0;
    grid-template-columns: auto auto;
}

ul#aziende h3 {
    font-size: 1.2em;
    margin: auto 0.5em;
    color: var(--linkColor);
}

ul#aziende h4 {
    font-weight: normal;
    font-size: 1em;
    margin: auto 1em;
}

ul#aziende p {
    font-weight: bold;
    font-size: 1em;
    margin: auto;
}

ul#aziende img {
    width: 4em;
    height: auto;
    margin: auto;
}

.valutazione-media {
    color: var(--headerTxtColor);
    font-size: 1em;
    margin: auto;
}

@media (max-width: 1200px) {

    #barra-ricerca form {
        width: 100%;
    }
    
    section#cosa-offriamo {
        background: none;
    }

    section#cosa-offriamo h2 {
        font-size: 2.5em;
        letter-spacing: -0.05em;
    }

    section#cosa-offriamo > section {
        width: 80%;
    }

    ul#aziende {
        display: grid;
        grid-template-columns: 50% 50%;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 50vh;
        justify-content: center;
        align-items: center;
    }

    ul#aziende li {
        justify-self: center;
        min-height: 17vh;
        width: 87%;
        overflow-x: hidden;
    }

    ul#aziende h3{
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    ul#aziende p{
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto 0;
    }

    ul#aziende img {
        margin: auto 0;
    }

    .valutazione-media {
        margin: auto 0;
    }

    form h2{
        display: none;
    }

    form[action="Annunci.php"] button[type="submit"] {
        vertical-align: middle;
        padding: 1em;
        border-radius: 100%;
        width: 2.3em;
        height: 2.3em;
    }

    form[action="Annunci.php"] button[type="submit"] span{
        display: none;
    }

    form[action="Annunci.php"] button[type="submit"] img{
        display: inline;
    }
    
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                HOME CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ANNUNCI CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#annunci-main {
    height: auto;
    margin: 2em auto;
}

#annunci-main #content {
    background-color: var(--bgColor);
    border-radius: 1em;
    padding: 0.5em;
}

form {
    text-align: center;
    margin: 1em 0;
}

#annunci-ricerca #professione,
#annunci-ricerca #locazione {
    border: none;
    padding: 0.5em;
    margin-top: 1em;
    display: inline;
}

#annunci-ricerca #professione {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#annunci-ricerca #locazione {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#ricerca-avanzata {
    display: flex;
}

#filtri-ricerca {  
    display: block; 
    width: 25%;
}

#filtri-ricerca.showing, #filtri-ricerca.hiding {          /* passando da visualizzazione mobile a desktop la barra dei filtri */
    display: block;                                        /* torna visibile in ogni caso */ 
}

#filtri {
    list-style-type: none;
    max-width: 90%;
    background-color: var(--headerBgColor);
    border-radius: 1em;
    margin: 1em;
    padding: 0.3em;
    border: 0.15em var(--footerTxtColor) solid;
}

#filtri div {
    padding: 0.3em;
    background-color: var(--footerBgColor);  
    margin: 0.3em;
}

#filtri div label, 
#filtri div legend {
    width: 90%;
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
}

#filtri #modalità legend {
    width: 55%;
}

#filtri #contratto legend {
    width: 85%;
}

#annunci-main #filtri div p {
    width: 90%;
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
}

#filtri div select,
#filtri div input[type="text"],
#filtri div input[type="range"] {
    width: 100%;
    margin: auto;
    height: auto;
}

#filtri div input[type="number"]{
    width: 30%;
    margin: auto;
    height: auto;
}

#filtri div .checkbox-modalità,
#filtri div .radio-contratto {
    display: flex;
    margin: auto;
}

#filtri div .checkbox-modalità label,
#filtri div .radio-contratto label {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

#bottone-filtri {
    width: auto;
    display: none;
}

#filtri-ricerca input[type="submit"] {
    width: auto;
    margin: auto;
}

ul.annunci, ul.annunci.hidden {               /* lista annunci sempre visibile da desktop */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    max-height: 85vh;
    /* width: 40%; */
    list-style-type: none;
    overflow-x: unset;
}

ul.annunci::-webkit-scrollbar, ul#aziende::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 5px;
}

ul.annunci::-webkit-scrollbar-thumb, ul#aziende::-webkit-scrollbar-thumb {
    background-color: var(--headerTxtColor);
    border-radius: 5px;
}

ul.annunci li {
    background-color: white;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    max-width: 100%;
    padding: 1em;
    margin: 1em;
}

ul.annunci li h3 {
    font-size: 1.3em;
}

ul.annunci li a {
    color: var(--linkColor);
}

ul.annunci li a:visited {
    color: var(--visitedLinkColor)
}

ul.annunci li h4 {
    font-size: 1em;
}

ul.annunci li h5 {
    font-size: 0.9em;
    font-weight: bold;
}

ul.annunci li p {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-annunci {
    display: flex;
    text-wrap: nowrap;
    overflow: hidden;
    gap: 1em;
}

ul.annunci img {
    height: 0;
}

ul.job-info {
    list-style-type: none;
    margin-top: 1em;
}

ul.job-info li {
    display: flex;
    gap: 0.5em;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

/* da guardare meglio lo stile, ciò che serve o meno. (ho fatto copia incolla da annuncio completo, e graficamente è ok) */
#annunci-completi{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
}

.annuncio-completo {    
    background-color: #fff;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    min-height: 40vh;
}

.hidden {    
    display: none;
    max-height: 0;
}

.bottone-annunci {
    display: none;
}

.annuncio-completo img {
    max-width: 15%;
}

.annuncio-completo h3 {
    font-size: 1.4em;
    color: var(--headerTxtColor);
}

.annuncio-completo h4 {
    font-size: 1.1em;
}

.annuncio-completo h5 {
    font-size: 1em;
    font-weight: bold;
}

.annuncio-completo p,
.annuncio-completo time {
    font-size: 0.9em;
}

.annuncio-completo ul h5 {
    font-size: 0.9em;
    font-weight: bold;
}

.annuncio-completo ul p {
    font-size: 0.8em;
}

ul.annuncio-info {
    list-style-type: none;
    margin-top: 1em;
}

ul.annuncio-info li {
    display: flex;
    gap: 0.5em;
}

.dettagli {
    display: none;
    margin-top: 1em;
}

ul.job-complete-info {
    list-style-type: none;
}

ul.job-complete-info li {
    display: flex;
    gap: 0.5em;
}

ul.job-complete-info li h5 {
    white-space: nowrap;
    overflow:visible;
}

ul.job-complete-info li p {/* [...] effect */
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.azioni-aggiuntive {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}

ul.azioni-aggiuntive li {
    max-width: fit-content;
    margin-top: 1em;
}
#filtri li .checkbox-modalità label {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

#salvato{
    margin-top: 1.5em;
    font-size: 14px;
    color: #023E8A;
}

#annunci-temp{
    display: flex;
    width: 80%;
}

 @media (max-width: 1200px) {
    #annunci-main{
        width: 92%;
    }

    ul.annunci li h5 {
        white-space: nowrap;
        overflow: visible;
    }
    ul.annunci li p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Number of lines to show */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #annunci-temp{
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .annuncio-completo{
        margin-top: 2em;
    }

    #filtri-ricerca {  
        display: block; 
        width: 30%;
        border-right: solid var(--footerTxtColor);
    }
}



    /*
    #annuncio-completo {
        display: none;
    }
    #bottone-annunci {
        display: inline;
    }
    #bottone-annunci:hover {
        background-color: var(--headerBgColor)
    }
    ul.annunci {
        max-width: fit-content;
    }
    ul.annunci li p {
        text-wrap: wrap;
    }*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ANNUNCI CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                AZIENDE CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#aziende-main {
    height: auto;
    margin: 1em auto;
}

.delimitatore-piccolo {
    color: white;
    background-color: var(--headerTxtColor);
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
}

.delimitatore-piccolo h3 {
    font-size: 1em;
}

.info-azienda {
    font-weight: bold;
}

#aziende-main #contenitore-informazioni {
    display: flex;
}

#aziende-main #contenitore-informazioni dl {
    padding: 20px;
    background-color: #fff;
    width: fit-content;
    padding: 0.7em;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    margin: 0.5em;
}

#aziende-main #contenitore-informazioni dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}


#aziende-main #contenitore-informazioni dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

#logo-azienda {
    width: 20%;
    height: 20%;
    padding: 20px;
}

#bottone-recensioni {
    margin: 1em;
}

#descrizioneAzienda {
    background-color: #fff;
    width: fit-content;
    padding: 0.7em;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    margin: 0.5em;
}

#aziende-recensioni {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 1em;
    max-height: 50vh;
    overflow-y: scroll;
}

#aziende-recensioni li {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
}

#aziende-recensioni .valutazione dt {
    float: left;
    margin-right: 0.5em;
}

#aziende-recensioni h3 {
    color: var(--headerTxtColor);
    font-size: 1em;
}

#aziende-recensioni h4 {
    font-size: 0.9em;
}

#aziende-recensioni p {
    font-size: 0.8em;
}

#recensioni-form, #recensioni-modifica-form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 50%;

    margin: auto;
    padding: 1em;
    max-height: fit-content;
    border: 3px solid;
    border-radius: 1em;
    border-color: var(--headerTxtColor);
}

.invisibile {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.visibile {
    visibility: visible;
}

#recensioni-form label, #recensioni-modifica-form label {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    color: var(--headerTxtColor);
    font-weight: bold;
    width: 20%;
}

#recensioni-form textarea,
#recensioni-modifica-form textarea,
#recensioni-form select,
#recensioni-modifica-form select,
#recensioni-form input[type="submit"]
#recensioni-modifica-form input[type="submit"] {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

#recensioni-form #valutazione,
#recensioni-modifica-form #valutazione {
    margin-left: 0;
}

#recensioni-form #commento,
#recensioni-modifica-form #commento {
    resize: vertical;
    padding: 0.5em;
    box-sizing: border-box;
    vertical-align: top;
    overflow-y: auto;
}

#aziende-main .header-aziende {
    display: flex;
    justify-content: unset;
    margin: 1em 0.5em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                AZIENDE CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ACCEDI CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#accedi-main {
    display: flex;
    align-items: center;
    margin: 2em auto;
}

#accedi-main #primoContenuto {
    margin: auto;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--headerBgColor);
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    max-width: 30%;
    min-width: fit-content;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

#login-form label {
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
}

#credenziali {
    display: flex;
    flex-direction: column;
}

#credenziali label {
    font-size: 1.3em;
}

#accedi-bottone {
    margin-top: 1em;
    margin-bottom: 2em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ACCEDI CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                REGISTRA_USER CSS [INIZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#registrazione-main {
    height: auto;
    background-color: white;
    box-shadow: none;
}

#registrazione-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--headerBgColor);
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    width: 75%;
    min-width: fit-content;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

#registrazione-main input,
#registrazione-main textarea {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: auto;
}

#registrazione-main form label {
    display: inline-block;
    margin-top: 1em;
}

#registrazione-form label {
    margin: auto;
    white-space: nowrap;
    color: var(--headerTxtColor);
    font-weight: bold;
    font-size: 1em;
}

#credenziali, #dettagli, #dati {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0.5em;
}

#credenziali label {
    font-size: 1.3em;
}

#registrazione-main #desc_completa {
    resize: vertical;
    padding: 0.5em;
    box-sizing: border-box;
    vertical-align: top;
    overflow-y: auto;
    height: 25vh;
}

#cv, #logo {
    max-width: 60%;
margin: auto;
}

#admin-buttons {
    display: flex;
}

#disabled-modificaAdmin-bottone {
    color: #fff;
    background-color: #ccc;
    opacity: 0.7;
}

#registrazione-main .visible-fieldset {
    display: block;
}

#registrazione-main .hidden-fieldset {
    display: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                REGISTRA_USER CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                USER CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#user-main {
    background-color: white;
    box-shadow: none;
    height: auto;
}

#user-main h2 {
    font-size: 2em;
    margin: 2em 0 0 0;
    font-family: var(--font-body-family);
    line-height: 1em;
}

#user-main strong {
    color: var(--headerTxtColor);
}

img#foto-profilo {
    float: right;
    max-width: 25%;
    clip-path: circle();
    margin-bottom: 1.5em;
    transition: opacity 0.5s;
}

img#foto-profilo:hover {
    opacity: 0.4;
}

.dati-utente {
    margin-top: 2em;
}

.dati-utente dt {
    float: left;
    margin-right: 1em;
}

input[type="submit"] #cv_upload {
    margin-top: 1.5em;
    padding: .5em;
}

#user-main section > div {
    color: white;
    background-color: var(--headerTxtColor);
    margin-top: 1.5em;
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
    font-size: 1.2em;
    font-weight: bold;
    clear: right;
}

#user-main section > ul {
    background-color: var(--bgColor);
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

section > div > button {
    display: none;
}

#user-listaAnnunci {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-height: 75vh;
    list-style-type: none;
}

#user-listaAnnunci::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--headerBgColor);
    border-radius: 5px;
}

#user-listaAnnunci::-webkit-scrollbar-thumb {
    background-color: var(--headerTxtColor);
    border-radius: 5px;
}

#user-listaAnnunci > li {
    background-color: white;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

#user-listaAnnunci li h3 {
    font-size: 1.3em;
    color: var(--footerTxtColor);
}

#user-listaAnnunci li h4 {
    font-size: 1em;
}

#user-listaAnnunci li h5 {
    font-size: 0.9em;
    font-weight: bold;
}

#user-listaAnnunci li p {
    font-size: 0.8em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
}

#user-listaAnnunci.header-annunci {
    display: flex;
    align-items: center;
    gap: 1em;
}

#user-listaAnnunci img {
    max-width: 15%;
}

#user-recensioni {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 1em;
    max-height: 50vh;
    overflow-y: scroll;
}

#user-recensioni li {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
}

#user-recensioni > .valutazione {
    display: flex;
    gap: 0.5em;
}

#user-recensioni h3 {
    color: var(--headerTxtColor);
    font-size: 1em;
}

#user-recensioni h4 {
    font-size: 0.9em;
}

#user-recensioni p {
    font-size: 0.8em;
}

#cv-section {
    margin-top: 1em;
}

#cv-preview {
    width: 75%;
    height: 50%;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                USER CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ADMIN CSS [INIZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#admin-main {
    background-color: white;
    box-shadow: none;
    height: auto;
}

#admin-main h2 {
    font-size: 2em;
    margin: 2em 0 0 0;
    font-family: var(--font-body-family);
    line-height: 1em;
}

#admin-main strong {
    color: var(--headerTxtColor);
}

#dati-admin {
    margin-top: 2em;
    margin-bottom: 2em;
}

#dati-admin dt {
    float: left;
    margin-right: 1em;
    font-weight: bold;
}

#admin-main section > div {
    color: white;
    background-color: var(--headerTxtColor);
    margin-top: 1.5em;
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
    font-size: 1.2em;
    font-weight: bold;
    clear: right;
}

#admin-main section > ul {
    background-color: var(--bgColor);
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

#admin-listaAnnunci {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-height: 75vh;
    list-style-type: none;
}

#admin-listaAnnunci::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--headerBgColor);
}

#admin-listaAnnunci::-webkit-scrollbar-thumb {
    background-color: var(--headerTxtColor);
}

#admin-listaAnnunci > li {
    background-color: white;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

#admin-listaAnnunci li h3 {
    font-size: 1.3em;
    color: var(--footerTxtColor);
}

#admin-listaAnnunci li h4 {
    font-size: 1em;
}

#admin-listaAnnunci li h5 {
    font-size: 0.9em;
    font-weight: bold;
}

#admin-listaAnnunci li p {
    font-size: 0.8em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
}

#admin-listaAnnunci .header-annunci {
    display: flex;
    align-items: center;
    gap: 1em;
}

#admin-listaAnnunci img {
    max-width: 15%;
}

#admin-recensioni {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 1em;
    max-height: 50vh;
    overflow-y: scroll;
}

#admin-recensioni li {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
}

#admin-recensioni > .valutazione {
    display: flex;
    gap: 0.5em;
}

#admin-recensioni h3 {
    color: var(--headerTxtColor);
    font-size: 1em;
}

#admin-recensioni h4 {
    font-size: 0.9em;
}

#admin-recensioni p {
    font-size: 0.8em;
}

#controllo-recensione {
    display: flex;
    gap: 0.5em;
}

#admin-links {
    display: flex;
    gap: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 1em;
    width: 50%;
    text-align: center;
    border-radius: 1em;
}

#confirmButton, #cancelButton {
    margin: 0.5em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ADMIN CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                PUBBLICA_ANNUNCIO CSS [INZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/
#pubblica-annuncio-main {
    background-color: var(--headerBgColor);
    width: 80%;
    height: auto;
}

#contenuti.visible-fieldset, 
#caratteristiche.visible-fieldset, 
#requisiti.visible-fieldset {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    padding: 1em;
}

#pubblica-annuncio-main input[type="submit"] {
    margin: 0.5em;
    margin-top: 1em;
    margin: auto;
}

#pubblica-annuncio-main label,
#pubblica-annuncio-main legend {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--headerTxtColor);
    font-weight: bold;
}

#pubblica-annuncio-main input[type="text"],
#pubblica-annuncio-main textarea,
#pubblica-annuncio-main select,
#pubblica-annuncio-main input[type="submit"] {
    width: 70%;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    margin: auto;
}

#pubblica-annuncio-main .messaggio-errore {
    width: 70%;
}

#desc_breve, #desc_completa {
    resize: vertical;
    padding: 0.5em;
    box-sizing: border-box;
    vertical-align: top;
    overflow-y: auto;
}

#desc_breve {
    height: 10vh;
}

#desc_completa {
    height: 20vh;
}

.checkbox-group label, .radio-group label {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

#buttons {
    display: flex;
}

#disabled-modificaAnnuncio-bottone{
    color: #fff;
    background-color: #ccc;
    opacity: 0.7;
}

#pubblica-annuncio-main #modalità,
#pubblica-annuncio-main #contratto {
    width: 50%;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                PUBBLICA_ANNUNCIO CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                CHI_SIAMO CSS [INIZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/

#chi_siamo-main {
    height: auto;
    margin: 1em auto;
    padding-bottom: 0.2em;
    background-color: var(--bgColor);
}

#chi_siamo-block {
    background-color: #fff;
    width: fit-content;
    padding-left: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 1.7em;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
    margin: 0.5em;
}

h3.chi_siamo {
    color: var(--footerTxtColor);
    font-size: 1.15em;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
}

div.blocco {
    padding: 2em;
    margin: auto 2em;
}

#chi_siamo_img1, #chi_siamo_img3 {
    float: right;
    width: 30%;
    margin: 1em;
    height: 30%;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
}

#chi_siamo_img2 {
    float: left;
    width: 30%;
    margin: 1em;
    height: 30%;
    border: 0.2em var(--footerTxtColor) solid;
    border-radius: 1em;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                CHI_SIAMO CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ERRORE_404 CSS [INIZIO]

--------------------------------------------------------------------------------------------------------------------------------------------------*/

#errore404-main {
    background-color: white;
    color: var(--txtColor);
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 0;
    box-shadow: none;
    width: 75%;
    height: auto;
}

#errore404-main h2 {
    font-size: 2em;
    margin: 1em 0 0 0;
    font-family: var(--font-body-family);
}

#errore404-main img {
    margin: 2em auto;
    display: block;
    width: 50%;
}

#errore404-main > a {
    display: block;
    background-color: var(--headerTxtColor);
    color: white;
    text-decoration: none;
    border-radius: 1em;
    min-height: 44px;
    width: fit-content;
    padding: 0.5em;
    margin: 1em auto;
}

#errore404-main > a:hover {
    background-color: var(--footerBgColor);
    color: black;
}

section#help {
    margin: 1em;
}

section#help ul {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    margin-left: 1em;
}

section#help p{
    margin-top: 1em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                            
                                                                ERRORE_404 CSS [FINE]

--------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    background-color: var(--headerBgColor);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 75%;
    text-align: center;
    margin: auto;
}

footer p {
    font-size: smaller;
}

#footer ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#footer li {
    display: inline;
    flex: 1;
}

ul #contattaci {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
}

#contattaci li {
    white-space: nowrap;
}

#contattaci li:first-child {
    margin-right: 0.5em;
}

#contatti {
    text-align: left;
}

#contatti li {
    margin-top: 0.5em;
}


@media (max-width: 1024px) {

    footer {
        max-width: 90%;
        margin: auto;
    }
}